.App {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.Header{
  background: linear-gradient(90deg, #F6F2EF 66%, #FFFFFF 0);
  height: 100%;
}

.NavNum{
  color: #212529;
  margin-top: 5px;
}

.NavLogo{
  color: #212529;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
}

.HeaderText h3{
  font-size: 40px;
  font-weight: 400;
}


@media only screen and (max-width: 600px) {
  .Header {
    background: linear-gradient(90deg, #F6F2EF 100%, #FFFFFF 0) !important;
  }
}